<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body {background-color: powderblue;}  



</style>


<body>
<h2 align = "center">Chronic Kidney Disease Prediction</h2>

<form action = "{{url_for('predict')}}"  method ="POST" align = "center">

  Sugar<br>
  <input type="text" name="sg" >
  <br>
  
  Albumin<br>
  <input type="text" name="al" >
  <br>
  
  Packed Cell<br>
  <select name="pc">
  <option value = "0"> 0 </option>
  <option value = "1"> 1 </option>
  </select>
  <br>
  
  Serum Creatinine<br>
  <input type="text" name="sc" >
  <br>
  
  Haemoglobin<br>
  <input type="text" name="hemo" >
  <br>
  
  Red Blood Cell<br>
  <input type="text" name="rc" >
  <br>
  
  Hypertension/Blood Pressure<br>
  <select name="htn">
  <option value = "0"> 0 </option>
  <option value = "1"> 1 </option>
  </select>
  <br>
  
  Diabetes Mellitus<br>
  <select name="dm">
  <option value = "0"> 0 </option>
  <option value = "1"> 1 </option>
  </select>
  <br>

  <br>
  <input type="submit" value="Predict">
  <br>
</form> 

<p align = "center">Know the risk of you getting diagnosed with Chronic Kidney Disease in the future</p>

</body>
</head>
</html>

